div.blog-home {
  display: grid;
  justify-self:  center;
  border: solid lightyellow;
  margin-top: 10%;
  padding: 3em;
  width: 70%;
}

.blog-home h1 {
  text-align: left;
  font-size: 38pt;
  color: lightcoral;
}

.blog-home h2 {
  text-align: left;
  font-size: 20pt;
}

.blog-home li,
.blog-home ul {
  text-align: left;
  list-style-type: none !important;
}

.blog-home p, .blog-home a:hover {
  color: lightcoral;
}


@media(max-width: 800px){

  input, a, header a {
    font-size: 16pt;
  }

  h2, .post-title p, h2 a {
    font-size: 28pt;
  }
  
  footer a, footer p {
    font-size: 8pt;
  }
  
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:0;
    padding: 0;
    margin: 0;
  }

  nav a {
    padding: 0;
    font-size: 20pt;
  }
  
}

@media (max-height: 400px){
  
  footer{
    display: none;
  }
}
