body, a, h1, h2, #container, #lista {
	background-color: #121212;
	font-family: "Alegreya Sans", "Open Sans", sans-serif;
}

header {
  text-align: center;
  padding: 10px 0px 10px 0px;
  background-color: #ffffd7;
  color: #121212;
}

header a {
  font-size: 25pt;
  background-color: #ffffd7;
  color: #121212;
  padding: 0 30px 0 30px;
}

footer p {
  font-size: 12pt;
  color: #121212;
  text-align: center;
}

footer {
  display: grid;
  background-color: #ffffd7;
  color: #121212;
}

body {
	display: grid;
	grid-template-columns: 1fr;
  grid-gap: 3em;
}

input[type="submit"], input {
	border: 3px solid black;
	background-color: #ffffd7;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 20pt;
	color: black;
	width: 90%;
}

textarea {
	background-color: #ffffd7;
	font-family: "Open Sans", sans-serif;
	font-size: 20pt;
	color: black;
	width: 90%;
  height: 300px;
}

a, p {
	text-decoration: none;
	color: #ffffd7;
	font-size: 18pt;
  text-align:center;
}

a:hover {
	color: #00A289;
}

h1 {
	color: #ffffd7;
	font-size: 20pt;
	text-align: center;
}

h2 {
	color: #ffffd7;
	font-size: 20pt;
	font-weight: bold;
	text-align: center;
}

ul, li, #coluna {
	padding: 0;
	list-style-type: none;
	text-align: center;
}

img {
  padding: 0;
  width: 70%;
  line-height: 100%;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

article {
  width:70%;
  background-color: #121212;
  color: #ffffd7;
  display:grid;
  padding: 5em;
  margin: auto;
}

article header {
  display: inline;
  background-color: #121212;
}

article p {
  font-size: 24pt;
}

article h1 {
  font-size: 35pt;
}

.selecionado {
  color: #00A289;
  font-weight: bold;
}

.forms {
	display: block;
	text-align: center;
}

.indexgrid {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-auto-columns: minmax(auto, 70px);
  align-items: center;
}

.indexgrid > div {
  padding: 2em;
  grid-auto-rows: minmax(100%, auto);
}

.griddois {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
}

.gridtres {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 2em;
}

.gridfour {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 2em;
}

.highlighter-rouge {
  color: darkred;
  background-color: #000000;
  font-size: 20pt;
  font-family: inherit;
  padding: 3px;
}

.post-list {
  text-align: left;
}

.post-meta {
	text-decoration: none;
	color: #ffffd7;
	font-size: 19pt;
  text-align: right;
}

.highlight {
  background-color: #000000;
  padding: 1em 2em 1em 2em;
}

#photo {
  text-align: center;
}

#bio > div {
  padding: 2em;
  grid-auto-rows:100%;
}

#biolinks {
  text-align: center;
  border: solid white;
}

@media(max-width: 800px){

  h1, h2, input, a, #bio p, #bio a, #bio h2, header a, textarea {
    font-size: 12pt;
  }

  .indexgrid {
    grid-template-columns: 100%;
  }

  .gridfour {
    grid-template-columns: 50% 50%;
    grid-column-gap: 0;
  }

  nav {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  article {
    padding: 0;
  }

}
