html {
  margin: auto;
  padding: 0;
  height: 100%;
}

body {
  margin-top: 10%;
  display: grid;
	grid-template-columns: 1fr;
  grid-gap: 3em;
}

body, a, h1, h2, #container, #lista {
	background-color: #121212;
	font-family: "Alegreya Sans", "Open Sans", sans-serif;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
  background-color: #ffffd7;
  color: #121212;
}

header a {
  font-size: 25pt;
  background-color: #ffffd7;
  color: #121212;
  padding: 0 30px 0 30px;
}

footer p, footer a {
  font-size: 12pt;
  color: #121212;
  background-color: inherit;
  text-align: center;
  padding: 0;
  margin: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  background-color: #ffffd7;
  color: #121212;
}

input[type="submit"], input {
	border: 3px solid black;
	background-color: #ffffd7;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 20pt;
	color: black;
	width: 90%;
}

textarea {
	background-color: #ffffd7;
	font-family: "Open Sans", sans-serif;
	font-size: 20pt;
	color: black;
	width: 90%;
  height: 300px;
}

a, p {
	text-decoration: none;
	color: #ffffd7;
	font-size: 18pt;
  text-align:center;
}

h1 {
	color: #ffffd7;
	font-size: 28pt;
	text-align: center;
}

h2 {
	color: #ffffd7;
	font-size: 25pt;
	font-weight: bold;
	text-align: center;
}

ul, li, #coluna {
	padding: 0;
	list-style-type: none;
	text-align: center;
}

img {
  padding: 0;
  width: 70%;
  line-height: 100%;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

article {
  width:70%;
  background-color: #121212;
  color: #ffffd7;
  display:grid;
  padding: 5em;
  margin: auto;
}

article header {
  display: inline;
  background-color: #121212;
}

article p, h3 {
  font-size: 24pt;
}

article h1, .post-content h2, article h2 a {
  font-size: 35pt;
  text-align: left;
}

hr {
  width: 100%;
}

.selecionado-home, .selecionado-home:hover, .indexgrid a:hover, #nav-inicio:hover {
  color: #00A289;
  font-weight: bold;
}

.selecionado-blog, .selecionado-blog:hover, article a:hover, #nav-blog:hover{
  color: lightcoral;
  font-weight: bold;
}

.selecionado-tex, .selecionado-tex:hover, .gridfour a:hover, #nav-latex:hover {
  color: darkolivegreen;
  font-weight: bold;
}

.selecionado-start, .selecionado-start:hover, .gridtres a:hover, #nav-start:hover {
  color: lightseagreen;
  font-weight: bold;
}

.selecionado-contato, #nav-contato:hover {
  color: maroon;
  font-weight: bold;
}

.forms {
	display: block;
	text-align: center;
}

.indexgrid {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-auto-columns: minmax(auto, 70px);
  align-items: center;
}

.indexgrid > div {
  padding: 2em;
  grid-auto-rows: minmax(100%, auto);
}

.griddois {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
}

.gridtres {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 2em;
}

.gridfour {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 2em;
}

.highlighter-rouge {
  color: lightcoral;
  background-color: #000000;
  font-size: 20pt;
  font-family: inherit;
  padding: 3px;
}

.post-list {
  text-align: left;
}

.post-meta {
	text-decoration: none;
	color: #ffffd7;
	font-size: 19pt;
  text-align: right;
}

.highlight {
  background-color: #000000;
  padding: 0em 1em 0em 1em;
  font-size: 14pt;
  transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  white-space: normal;
}

.language-plain-text {
  background-color: #000000;
  font-size: 14pt;
  white-space:  pre-line;
}

.home {
  border: solid lightyellow;
  padding: 1em;
  margin: auto;
  width: 70%;
}

.home h1 {
  text-align: left;
  font-size: 38pt;
  color: lightcoral;
}

.home p, .home a, .home li, .home h2, home li {
  text-align: left;
}

.home p, .home a:hover {
  color: lightcoral;
}

.home h2{
  padding: 0;
  margin: 0;
  display: inline;
}

div#disqus {
  padding-top: 3em;
  border-top: solid;
}

#photo {
  text-align: center;
}

#bio > div {
  padding: 2em;
  grid-auto-rows:100%;
}

#biolinks {
  text-align: center;
  border: solid white;
}

pre {
  background-color: #000000;
  padding: 1em 2em 1em 2em;
}

.post-title p {
  font-size: 50pt;
  text-align: center;
}

@media(max-width: 800px){

  input, a, 
  #bio p, #bio a, #bio h2, 
  header a, textarea,
  article a, article p {
    font-size: 16pt;
  }

  h1, h2, .post-title p, h2 a {
    font-size: 30pt;
  }
  
  .highlighter-rouge, .highlight, code p, h3 {
    font-size: 14pt;
  }
  
  footer a, footer p {
    font-size: 8pt;
  }
  
  .indexgrid {
    grid-template-columns: 100%;
  }

  .gridtres {
    grid-template-columns: 1fr;
  }
  
  .gridtres a {
    font-size: 20pt;
  }
  
  .gridfour {
    grid-template-columns: 50% 50%;
    grid-column-gap: 0;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap:0;
    padding: 0;
    margin: 0;
  }

  nav a {
    padding: 0;
    font-size: 22pt;
  }
  
  article {
    padding: 0;
  }

}

@media (max-height: 300px){
  
  footer{
    display: none;
  }
}
