
.gridtres {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 2em;
}

div.gridtres > div > ul > li {
  font-size: 23pt;
  list-style-type: none !important;
  text-align: center !important;
}

#tecnico * {
  color: #ffffd7;
  font-size: 1vw;
}

#tecnico ul {
  display: none;
}

#tecnico:hover ul {
  display: block;
}

@media(max-width: 800px){

  .gridtres {
    grid-template-columns: 1fr;
  }
  
  .gridtres a {
    font-size: 23pt;
  }

}
