
<header>
  <nav>
    <a {% if page.nav == "bio" %} class="selecionado-{{page.cor}}" {% endif %} id="nav-{{page.cor}}" href="/"> Início </a>
    <a {% if page.nav == "corblog" %} class="selecionado-{{page.cor}}" {% endif %} id="nav-{{page.cor}}" href="/blog"> Blog </a>
    <a {% if page.nav == "start" %} class="selecionado-{{page.cor}}" {% endif %} id="nav-{{page.cor}}" href="/startpage"> Startpage </a>
    <a {% if page.nav == "tex" %} class="selecionado-{{page.cor}}" {% endif %} id="nav-{{page.cor}}" href="/latex"> Latex </a>
    {% if page.title == 'Contato' %}
    <a {% if page.nav == "contato" %} class="selecionado-{{page.cor}}" {% endif %} id="nav-{{page.cor}}" href="/contato"> Contato </a>
    {% endif %}
  </nav>
</header>
