<header>
  <nav>
    <a class="{% if page.title == 'Minha página' %}selecionado-home{% endif %}" href="/index.html"> Início </a>
    <a class="{% if page.layout == 'post' or page.layout == 'blog-home' %}selecionado-blog{% endif %}" href="/blog.html"> Blog </a>
    <a class="{% if page.url == '/startpage.html' %}selecionado-start{% endif %}" href="/startpage.html"> Startpage </a>
    <a class="{% if page.url == '/tex_docs.html' %}selecionado-tex{% endif %}" href="/tex_docs.html"> Latex </a>
    <a class="{% if page.url == '/contato.html' %}selecionado-contato{% endif %}" href="/contato.html"> Contato </a>
  </nav>
</header>
