<header>
  <nav>
    <a class="{% if page.title == 'Minha página' %}selecionado-home{% endif %}" 
    {% if page.title == 'Minha página' %}id="nav-inicio"{% endif %}
    {% if page.title == 'Blog do Luís' or page.layout == 'blog-home' or page.layout == 'post' %}id="nav-blog"{% endif %}
    {% if page.title == 'Start Page' %}id="nav-start"{% endif %}
    {% if page.title == 'LaTeX - Links Úteis' %}id="nav-latex"{% endif %}
    {% if page.title == 'Contato' %}id="nav-contato"{% endif %}
      href="/"> Início </a>
    <a class="{% if page.layout == 'post' or page.layout == 'blog-home' %}selecionado-blog{% endif %}" 
    {% if page.title == 'Minha página' %}id="nav-inicio"{% endif %}
    {% if page.title == 'Blog do Luís' or page.layout == 'blog-home' or page.layout == 'post' %}id="nav-blog"{% endif %}
    {% if page.title == 'Start Page' %}id="nav-start"{% endif %}
    {% if page.title == 'LaTeX - Links Úteis' %}id="nav-latex"{% endif %}
    {% if page.title == 'Contato' %}id="nav-contato"{% endif %}
      href="/blog"> Blog </a>
    <a class="{% if page.title == 'Start Page' %}selecionado-start{% endif %}" 
    {% if page.title == 'Minha página' %}id="nav-inicio"{% endif %}
    {% if page.title == 'Blog do Luís' or page.layout == 'blog-home' or page.layout == 'post' %}id="nav-blog"{% endif %}
    {% if page.title == 'Start Page' %}id="nav-start"{% endif %}
    {% if page.title == 'LaTeX - Links Úteis' %}id="nav-latex"{% endif %}
    {% if page.title == 'Contato' %}id="nav-contato"{% endif %}
      href="/startpage"> Startpage </a>
    <a class="{% if page.title == 'LaTeX - Links Úteis' %}selecionado-tex{% endif %}" 
    {% if page.title == 'Minha página' %}id="nav-inicio"{% endif %}
    {% if page.title == 'Blog do Luís' or page.layout == 'blog-home' or page.layout == 'post' %}id="nav-blog"{% endif %}
    {% if page.title == 'Start Page' %}id="nav-start"{% endif %}
    {% if page.title == 'LaTeX - Links Úteis' %}id="nav-latex"{% endif %}
    {% if page.title == 'Contato' %}id="nav-contato"{% endif %}
       href="/latex"> Latex </a>
    {% if page.title == 'Contato' %}
    <a class="{% if page.title == 'Contato' %}selecionado-contato{% endif %}" 
    {% if page.title == 'Minha página' %}id="nav-inicio"{% endif %}
    {% if page.title == 'Blog do Luís' or page.layout == 'blog-home' or page.layout == 'post' %}id="nav-blog"{% endif %}
    {% if page.title == 'Start Page' %}id="nav-start"{% endif %}
    {% if page.title == 'LaTeX - Links Úteis' %}id="nav-latex"{% endif %}
    {% if page.title == 'Contato' %}id="nav-contato"{% endif %}
      href="/contato"> Contato </a>
    {% endif %}
  </nav>
</header>
